<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add  name="EmployeeContext" connectionString = "Data Source=SF-CPU-583\SQLEXPRESS;Database=Company;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			  providerName ="System.Data.SqlClient"/>

	</connectionStrings>
</configuration>